<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Nhà sách</title>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="author" content="">
    <meta name="keywords" content="nhà sách , đọc sách online, mua sách trực tuyến">
    <meta property="og:site_name" content="">
    <meta property="og:image" content="">
    <meta property="og:type" content="article">
    <meta property="og:url" content="">
    <meta property="og:title" content="Bên Kia Đồi">
    <meta property="fb:app_id" content="650349931697034">
    <link type="image/x-icon" rel="shortcut icon" href="">
    <link rel="image_src" href="">
    <link href="http://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic&amp;subset=latin,vietnamese" rel="stylesheet"
          type="text/css">

    <link rel="stylesheet" id="styles-css" href="CSS/style.css" type="text/css" media="all">

    <link rel="stylesheet" id="styles-css" href="CSS/style.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="styles-css" href="CSS/mystyle.css" type="text/css" media="all">
    <link rel="stylesheet" id="styles-css" href="CSS/bootstrap.css" type="text/css" media="all">
    <link rel="stylesheet" id="styles-css" href="CSS/owl.theme.css" type="text/css" media="all">

    <link rel="stylesheet" id="font-awesome-css" href="CSS/font-awesome.min.css" type="text/css" media="all">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript">

    </script>

    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="">
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="">
    <link rel="prev" title="Ta Ba Lô Trên Đất Á" href="">
    <meta name="generator" content="WordPress 3.9.8">
    <link rel="canonical" href="./Bên Kia Đồi_files/Bên Kia Đồi.html">
    <link rel="shortlink" href="">
    <link rel="stylesheet" href="assets/css/dk.css" type="text/css">
    <link rel="stylesheet" href="assets/css/dk2.css" type="text/css">
</head>

<body class="home blog" cz-shortcut-listen="true">



<div class="cachep-rip-header">

    <header class="wrap-header"style="background-color: #daf3ff">
        <div class="container" >
            <div class="row header-row-1" style="margin-top: -11px">
                <div class="col-md-3 col-lg-3 header-row-1-inner">
                    <button type="button" class="navbar-toggle collapsed hidden-lg hidden-md" data-toggle="offcanvas" data-target="#offcanvas-nav" data-canvas="body">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <p class="header-logo">
                        <a class="visible-lg-block visible-md-block" href="" ><img src="img/store.png" style="width: 120px;height: 65px;margin-bottom: -50px;margin-top: -16px;margin-left: -10px" alt="logo"></a>
                    </p>

                    <a href="/sales/order/tracking" title="Kiểm tra trạng thái Đơn hàng của bạn" class="order-tracking-shortcut is-mobile hidden">Kiểm tra Đơn hàng</a>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-5 col-lg-5 header-search-wrap">
                    <form id="search_form" action="/catalogsearch/result/" method="get" class="header-search">
                        <div class="input-group">
                            <div class="input-group-btn hidden-sm hidden-xs">
                                <button type="button" class="btn btn-default dropdown-toggle show-all-button" data-toggle="dropdown" aria-expanded="false">
                                    <span class="filter_box" data-category="">Tất cả</span><span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li data-category=""><a>Tất cả</a></li>
                                    <li data-category="Sách"><a>Sách Tiếng Việt</a></li>
                                    <li data-category="English Books"><a>Sách Tiếng Anh</a></li>
                                    <li data-category="Điện Thoại - Máy Tính Bảng"><a>Điện Thoại - Máy Tính Bảng</a></li>
                                    <li data-category="Thiết Bị Số - Phụ Kiện Số"><a>Thiết Bị Số - Phụ Kiện Số</a></li>
                                    <li data-category="Điện Gia Dụng"><a>Điện Gia Dụng</a></li>
                                    <li data-category="Nhà Cửa - Đời Sống"><a>Nhà Cửa Đời Sống</a></li>
                                    <li data-category="Làm đẹp - Sức khỏe"><a>Làm Đẹp - Sức Khỏe</a></li>
                                    <li data-category="Thiết Bị Văn Phòng Phẩm"><a>Thiết Bị Văn Phòng Phẩm</a></li>
                                    <li data-category="Mẹ Và Bé"><a>Mẹ Và Bé</a></li>
                                    <li data-category="Đồ Chơi - Quà Tặng"><a>Đồ Chơi - Đồ Lưu Niệm</a></li>
                                </ul>
                            </div>
                            <input type="text" name="q" autocomplete="off" class="form-control" value="" placeholder="Tìm kiếm...">

                            <span class="input-group-btn">
                                 <a href="tim-kiem.html" >
                                    <input class="btn btn-default hidden-sm hidden-xs" type="button" id="search" value="Tìm" style="margin-left: -2px">
  </a>
                                </span>

                        </div>
                        <div class="search-autocomplete" style="">
                        </div>
                    </form>
                </div>
                <div class="col-md-4 col-lg-4 visible-lg-block visible-md-block" >
                    <div class="header-user" style="width:100%">
                        <div class="user-cart" data-container="body" data-placement="auto bottom">
                            <a href="gio-hang.html" class="user-cart-link">
                                <i class="fa2 fa fa-shopping-cart"></i>
                                <span class="user-cart-text">Giỏ hàng</span>
                                <span class="user-cart-quantity">0</span>
                            </a>
                        </div>
                        <div class="user-name">

                            <div class="user-name-link">
                                <div class="user-avatar">
                                    <img width="34" height="34" src="http://tala.tikicdn.com/assets/img/avatar-s.png" alt="">
                                </div>
                                <ul>
                                    <li class="user-name-short">
                                        <span>Đăng nhập</span>
                                    </li>
                                    <li class="user-name-account">
                                        <span>Tài khoản</span>
                                        <span>&amp; Đơn hàng</span>
                                    </li>
                                </ul>
                                <span class="caret"></span>
                            </div>

                            <div class="user-name-box">
                                <ul>
                                    <li id="login_link">
                                        <a href="dang-nhap.html" title="Đăng Nhập" class="user-name-login">

                                            Đăng nhập
                                        </a>
                                    </li>
                                    <li id="login_fb_link">
                                        <a class="user-name-loginfb" title="Đăng Kí" href="dang-ki.html" data-url="/customer/account/loginFacebook">

                                            <span>Đăng Kí</span>

                                        </a>
                                    </li>
                                    <li class="user-name-register">Khách hàng mới?
                                        <a href="dang-ki.html" title="Tạo tài khoản mới">Tạo tài khoản</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row header-row2 visible-lg-block visible-md-block" style="margin-top: -20px">
                <div class="col-md-3">
                    <nav class="header-navigation"style="margin-top: -1px;margin-left: -15px">
                        <div class="category-list-outer header-menu"style="background-color: #f2faff">
                            <div class="category-list-title">
                                <div class="hiden-menu"> Tất cả danh mục</div>

                            </div>
                            <ul class="category-list-items">
                                <li class="item-lv1">
                                    <div class="item-lv1-inner">
                                        <div class="active-border ygradient1"></div>
                                        <div class="lv1-content">
                                            <h2 class="lv1-title">
                                                <a href="ngoai-ngu.html">Sách quốc văn</a>
                                            </h2>
                                            <p class="lv1-desc">
                                                <a href="#">Văn học</a><br>
                                                <a href="#">Sách kinh tế</a><br>

                                            </p>
                                        </div>
                                        <span class="lv1-arrow">
                                                <i class="fa fa-angle-right"></i>
                                            </span>
                                    </div>
                                    <div class="lv1-child-outer lv1-child-3-col">
                                        <div class="child-col">
                                            <div class="links-group">
                                                <span class="group-title">Nổi bật</span>
                                                <ul class="group-links">
                                                    <li>
                                                        <a href="ngoai-ngu.html">Hàng mới</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Giảm giá</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Bán chạy</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Sách kinh tế</a>
                                                    </span>
                                                <ul class="group-links">
                                                    <li>
                                                        <a href="ngoai-ngu.html">Bài học kinh doanh</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Doanh nhân</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Khởi nghiệp</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Kinh tế học</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Kỹ năng làm việc</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Marketing - Bán hàng</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Quản trị - Lãnh đạo</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Tài chính - Kế toán</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="child-col">
                                            <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Văn học</a>
                                                    </span>
                                                <ul class="group-links">
                                                    <li>
                                                        <a href="ngoai-ngu.html">Hài hước - Truyện cười</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Huyền bí - Giả tưởng</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Kinh dị</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Phê bình văn học</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Phóng sự - Ký sự</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Tác phẩm kinh điển</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Thơ</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Tiểu sử - Hồi ký</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Tiểu thuyết tình cảm lãng mạn</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Truyện kiếm hiệp - Phiêu lưu</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Truyện ngắn - Tản văn</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Truyện ngôn tình</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Truyện trinh thám</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Đam mỹ</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="child-col child-col-last">
                                            <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Thường thức - Đời sống</a>
                                                    </span>
                                                <ul class="group-links">
                                                    <li>
                                                        <a href="ngoai-ngu.html">Chăm sóc sức khỏe</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Làm vườn - Vật nuôi</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Nấu ăn</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Nuôi dạy con - Chăm sóc gia đình</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Phong thủy - Nhà cửa</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Tâm lý - Giới tính</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Trò chơi - Giải trí</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Sách học ngoại ngữ</a>
                                                    </span>
                                            </div>
                                            <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Sách kỹ năng sống</a>
                                                    </span>
                                                <ul class="group-links">
                                                    <li>
                                                        <a href="ngoai-ngu.html">Kỹ năng sống</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Nghệ thuật sống đẹp</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="item-lv1">
                                    <div class="item-lv1-inner">
                                        <div class="active-border ygradient2"></div>
                                        <div class="lv1-content">
                                            <h2 class="lv1-title">
                                                <a href="ngoai-ngu.html">Sách ngoại văn</a>
                                            </h2>
                                            <p class="lv1-desc">
                                                <a href="ngoai-ngu.html">Tiếng Anh</a>
                                                <br>
                                                <a href="ngoai-ngu.html">Tiếng khác</a>
                                            </p>
                                        </div>
                                        <span class="lv1-arrow">
                                                <i class="fa fa-angle-right"></i>
                                            </span>
                                    </div>
                                    <div class="lv1-child-outer lv1-child-1-col">
                                        <div class="child-col">
                                            <div class="links-group">
                                                <span class="group-title">Nổi bật</span>
                                                <ul class="group-links">
                                                    <li>
                                                        <a href="ngoai-ngu.html">Hàng mới</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Giảm giá</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Bán chạy</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Giáo trình</a>
                                                    </span>
                                            </div>
                                            <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Sách tham khảo</a>
                                                    </span>
                                            </div>
                                            <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Từ điển</a>
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="item-lv1">
                                    <div class="item-lv1-inner">
                                        <div class="active-border ygradient3"></div>
                                        <div class="lv1-content">
                                            <h2 class="lv1-title">
                                                <a href="ngoai-ngu.html">Sách thiếu nhi</a>
                                            </h2>
                                        </div>
                                        <span class="lv1-arrow">
                                                <i class="fa fa-angle-right"></i>
                                            </span>
                                    </div>
                                    <div class="lv1-child-outer lv1-child-1-col">
                                        <div class="child-col">
                                            <div class="links-group">
                                                <span class="group-title">Nổi bật</span>
                                                <ul class="group-links">
                                                    <li>
                                                        <a href="ngoai-ngu.html">Hàng mới</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Giảm giá</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Bán chạy</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Kiến thức khoa học</a>
                                                    </span>
                                            </div>
                                            <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Manga - Comic</a>
                                                    </span>
                                            </div>
                                            <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Truyện tranh</a>
                                                    </span>
                                            </div>
                                            <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Văn học</a>
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="item-lv1">
                                    <div class="item-lv1-inner">
                                        <div class="active-border ygradient4"></div>
                                        <div class="lv1-content">
                                            <h2 class="lv1-title">
                                                <a href="ngoai-ngu.html">Báo chí</a>
                                            </h2>

                                        </div>
                                        <span class="lv1-arrow">
                                                <i class="fa fa-angle-right"></i>
                                            </span>
                                    </div>
                                    <div class="lv1-child-outer lv1-child-1-col">
                                        <div class="child-col">
                                            <div class="links-group">
                                                <span class="group-title">Nổi bật</span>
                                                <ul class="group-links">
                                                    <li>
                                                        <a href="ngoai-ngu.html">Hàng mới</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Giảm giá</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Bán chạy</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Người lao động     </a>
                                                    </span>
                                            </div>
                                            <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Tiên phong</a>
                                                    </span>
                                            </div>
                                            <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Pháp luật</a>
                                                    </span>
                                            </div>
                                            <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Tài chính</a>
                                                    </span>
                                            </div>
                                            <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Công an</a>
                                                    </span>
                                            </div>
                                            <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Chứng khoán</a>
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="item-lv1">
                                    <div class="item-lv1-inner">
                                        <div class="active-border ygradient4"></div>
                                        <div class="lv1-content">
                                            <h2 class="lv1-title">
                                                <a href="ngoai-ngu.html">Tạp chí</a>
                                            </h2>

                                        </div>
                                        <span class="lv1-arrow">
                                                <i class="fa fa-angle-right"></i>
                                            </span>
                                    </div>
                                    <div class="lv1-child-outer lv1-child-1-col">
                                        <div class="child-col">
                                            <div class="links-group">
                                                <span class="group-title">Nổi bật</span>
                                                <ul class="group-links">
                                                    <li>
                                                        <a href="ngoai-ngu.html">Hàng mới</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Giảm giá</a>
                                                    </li>
                                                    <li>
                                                        <a href="ngoai-ngu.html">Bán chạy</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Phụ nữ</a>
                                                    </span>
                                            </div>
                                            <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Thời trang</a>
                                                    </span>
                                            </div>
                                            <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Đẹp</a>
                                                    </span>
                                            </div>
                                            <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Văn hoá</a>
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>

                    </nav>
                </div>
                <div class="col-md-5">
                    <div class="header-link">
                        <a target="_blank" href="#" style="border:0px;">
                            <img src="http://tala.tikicdn.com/assets/media/label-soc-toi-noc.png" alt="Sản phẩm Gia Dụng, Mẹ &amp; Bé, Làm Đẹp bán chạy nhất giảm đến 80%"
                                 title="Sản phẩm Gia Dụng, Mẹ &amp; Bé, Làm Đẹp bán chạy nhất giảm đến 80%" onmouseover="this.style.opacity='0.6'"
                                 onmouseout="this.style.opacity='1'" style="opacity: 1;">
                        </a>
                        <a target="_blank" href="#">
                            <img src="http://tala.tikicdn.com/assets/media/acb-label.png" alt="Giảm thêm đến 300K cho chủ thẻ Visa ACB vào Thứ 3 hàng tuần, 11-14h"
                                 title="Giảm thêm đến 300K cho chủ thẻ Visa ACB vào Thứ 3 hàng tuần, 11-14h" onmouseover="this.style.opacity='0.6'"
                                 onmouseout="this.style.opacity='1'" style="opacity: 1;">
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <p class="header-phone">
                        <a href="#" target="_blank" class="tk-support-link" style="margin-right: 10px;">
                            <img src="img/doi-tra-de-dang-icon.png" alt="Đổi, trả, bảo hành 30 ngày">
                            <span>Đổi trả dễ dàng</span>
                        </a>
                        <a href="#" target="_blank" class="tk-support-link">
                            <img src="http://tala.tikicdn.com/assets/img/support-logo.png" alt="Trung tâm hỗ trợ khách hàng">
                            <span>Hỗ trợ khách hàng</span>
                        </a>
                    </p>
                </div>
            </div>

        </div>
    </header>
</div>
<div>

{{{body}}}

</div>
<div class="footer-outer clearfix">
    <div class="footer-inner container">
        <div class="footer-line"></div>
        <div class="footer-intro">
            <div class="intro-description">
            </div>
        </div>
        <div class="footer-subscribe">
            <label for="subscribe_email"><b>Đăng ký nhận bản tin </b> - Không bỏ lỡ nhưng ưu đãi và sản phẩm mới nhất</label>
            <div class="form-row subscribe-outer">
                <form method="post" action="" name="mc-embedded-subscribe-form" target="_blank">
                    <button type="submit" class="button-default ygradient1" name="subscribe">Đăng ký</button>
                    <input id="subscribe_email" class="input-default" type="text" name="EMAIL" value="" placeholder="Địa chỉ Email">
                </form>
            </div>
        </div>
    </div>
</div>

</body></html>