<div class="container sp">
    <div class="row">
        <div class="col-md-2">
            <h4>Xin chào Nguyễn Hữu Thân</h4>
            <div>
                <a href="sua-tt.html">Chỉnh sửa thông tin</a>
            </div>
            <div>
                <a href="user.html">Lịch sử mua hàng</a>
            </div>
            <div>
                <a href="gio-hang.html">Giỏ hàng</a>
            </div>
        </div>
        <div class="col-md-10">
            <h3 class="text-left">Chi tiết đơn hàng</h3>
            <span>Đơn hàng: 001</span>
            <div>
                <span>Đặt ngày 04 thg 4 2018 </span>
                <span class="right">Tổng cộng: 120.000đ</span>
                <hr />
            </div>
            <span>Đã được giao vào 07 thg 4 2018 </span>
            <div>
                <div class="row">
                    <div class="col-md-2">
                        <img src="img/book/cuongphong-200x280.gif" class="img-dh" />
                    </div>
                    <div class="col-md-4">
                        <h2>Cuồng phong</h2>
                    </div>
                    <div class="col-md-3">
                        <h2>75.000đ </h2>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="right">Viết đánh giá</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <img src="img/book/chientranhgiuacacthegioi-200x280.gif" class="img-dh" />
                    </div>
                    <div class="col-md-4">
                        <h2>Chiến tranh giữa các thế giới</h2>
                    </div>
                    <div class="col-md-3">
                        <h2>45.000đ </h2>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="right">Viết đánh giá</a>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <span>Địa chỉ giao hàng</span>
                    <p>Nguyễn Hữu Thân
                        <br />18/13 Trần Văn Thành, Hồ Chí Minh, Quận 8, Phường 8
                        <br />01657409117</p>
                </div>
                <div class="col-md-6">
                    <span>Tổng cộng</span>
                    <div>
                        <span>Tạm tính</span>
                        <span class="right">120.000đ </span>
                        <div>
                            <span>Phí vận chuyển</span>
                            <span class="right">0đ </span>
                            <hr />
                        </div>
                    </div>
                    <span>Tổng cộng(bao gồm VAT)</span>
                    <span class="right">120.000đ </span>
                    <div>
                        <span>Thanh toán khi nhận hàng</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>