<div class="lzd-playground">
    <div class="lzd-playground-main">
        <div class="lzd-playground-nav"></div>
        <div id="container" class="container">
            <div class="login register">
                <div class="login-title">
                    <h3>Tạo tài khoản BookStore</h3>
                    <div class="login-other">
                            <span>Đã là thành viên?
                                <a href="dang-nhap.html">Đăng nhập</a> tại đây</span>
                    </div>
                </div>
                <div>
                    <form data-spm-anchor-id="a2o4n.login_signup.0.i3.46e5705bhNQK0x">
                        <div class="mod-login">
                            <div class="mod-login-col1">
                                <div class="mod-input mod-login-input-email mod-input-email">
                                    <label>Địa chỉ email</label>
                                    <input type="text" placeholder="Vui lòng nhập email của bạn" data-meta="Field" value="">
                                    <b></b>
                                    <span></span>
                                </div>
                                <div class="mod-input mod-input-password mod-login-input-password mod-input-password">
                                    <label>Mật khẩu</label>
                                    <input type="password" placeholder="Tối thiểu 6 kí tự bao gồm cả chữ và số" data-meta="Field" value="">
                                    <b></b>
                                    <span></span>

                                </div>
                                <div class="mod-input mod-input-password mod-login-input-re-password mod-input-re-password">
                                    <label>Nhập lại mật khẩu</label>
                                    <input type="password" placeholder="Vui lòng nhập lại mật khẩu" data-meta="Field" value="">
                                    <b></b>
                                    <span></span>

                                </div>
                                <div class="mod-login-row clearfix">
                                    <div class="mod-login-birthday clearfix">
                                        <div class="mod-login-birthday-hd">Ngày sinh</div>
                                        <div class="mod-birthday">
                                            <div class="mod-birthday-hd">Ngày sinh</div>
                                            <div class="mod-birthday-bd">
                                                <input style="height: 20px;border-radius: 8px;" type="date" />


                                                <div class="mod-input hidden mod-birthday-birthday mod-input-birthday">
                                                    <label>Ngày sinh</label>
                                                    <input type="hidden" data-meta="Field" value="">
                                                    <b></b>
                                                    <span></span>
                                                </div>
                                            </div>
                                            <span class="mod-birthday-error"></span>
                                        </div>
                                    </div>
                                    <div class="mod-login-gender">
                                        <div class="mod-gender">
                                            <div class="mod-gender-hd">Giới tính</div>
                                            <span data-meta="Field" id="gender" class="next-select large mod-fusion-select mod-gender-gender" tabindex="0">
                                                    <input type="hidden" name="select-faker" value="">
                                                    <span class="next-select-inner">
                                                        <span class="next-select-placeholder">Chọn</span>
                                                    </span>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mod-login-col2">
                                <div class="mod-input mod-login-input-name mod-input-name">
                                    <label>Tên</label>
                                    <input type="text" placeholder="Họ Tên" data-meta="Field" value="">
                                    <b></b>
                                    <span></span>
                                </div>

                                <div class="mod-login-btn">
                                    <button type="submit" class="next-btn next-btn-primary next-btn-large">ĐĂNG KÍ</button>
                                </div>


                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>