<div class="login" data-spm-anchor-id="a2o4n.login_signup.0.i0.7cc0705bl5JFpQ">
    <div class="login-title">
        <h3>Chào mừng đến với Lazada. Đăng nhập ngay!</h3>
        <div class="login-other">
                <span>Thành viên mới?
                    <a href="/user/register">Đăng kí</a> tại đây</span>
        </div>
    </div>
    <div>
        <form>
            <div class="mod-login">
                <div class="mod-login-col1">
                    <div class="mod-input mod-login-input-email mod-input-email">
                        <label>Địa chỉ email</label>
                        <input type="text" placeholder="Vui lòng nhập email của bạn" data-meta="Field" value="">
                        <b></b>
                        <span></span>
                    </div>
                    <div class="mod-input mod-input-password mod-login-input-password mod-input-password">
                        <label>Mật khẩu</label>
                        <input type="password" placeholder="Vui lòng nhập mật khẩu của bạn" data-meta="Field" value="">
                        <b></b>
                        <span></span>
                        <div class="mod-input-password-icon"></div>
                    </div>
                    <div class="mod-login-forgot">
                        <a href="https://member.lazada.vn/user/forget-password">Quên mật khẩu?</a>
                    </div>
                </div>
                <div class="mod-login-col2">
                    <div class="mod-login-btn">
                        <button type="submit" class="next-btn next-btn-primary next-btn-large">ĐĂNG NHẬP</button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>