<div class="container">
    <div class="container-banner-img">
        <img src="img/p3.jpg" style="width: 750px;">
    </div>
    <div class="container-banner-img">
        <img src="img/p6.png" style="width: 243px; height: 93px ">
    </div>
    <div class="container-banner-img">
        <img src="img/p10.png" style="width: 243px;height: 96px">
    </div>
    <div class="container-banner-img">
        <img src="img/p5.png" style="width: 243px;height: 93px">
    </div>
    <div class="container-banner-img">
        <img src="img/p8.png" style="width: 243px;height: 93px">
    </div>

</div>
<div class="container">
    <div <div class="container-banner-img">
    <img src="img/p14.jpg" style="width: 123px; height: 150px ">
</div>
    <div class="container-banner-img">
        <img src="img/p13.jpg" style="width: 123px; height: 150px ">
    </div>
    <div class="container-banner-img">
        <img src="img/p2.jpg" style="width: 252px; height: 150px ">
    </div>
    <div class="container-banner-img">
        <img src="img/p1.jpg" style="width: 252px; height: 150px ">
    </div>
    <div class="container-banner-img">
        <img src="img/p15.jpg" style="width: 122px; height: 150px ">
    </div>
    <div class="container-banner-img">
        <img src="img/p11.jpg" style="width: 122px; height: 150px ">
    </div>
</div>
<div class="body-outer fluid fluid-nomargin container clearfix ">

    <div class="primary-outer">
        <div class="content-block clearfix">
            <div class="container-banner-img">
                <img src="img/spnb.jpg" style="width: 100%;margin-top: 15px;margin-bottom: -10px">
            </div>
            <div class="content-block-inner home-block home-content-slider grid12">

                <div class="content-block clearfix mt20 mb0 single-related-post">
                    <div class="content-block-inner home-block category-content-slider">
                        <div class="block-inner-bar block-inner-tab-outer clearfix">
                            <ul class="block-inner-tab float-left home-aj-tab">
                                <li class="current">
                                    <a rel="nofollow" href="javascript:void(0);" data-container="#home_slider_book_new_outer,#home_slider_book_new_control" style="font-size: 22px;color:orangered">Top 10 sản phẩm mới nhất</a>
                                </li>
                            </ul>
                            <div id="home_slider_book_new_control" class="block-slider-control float-right mr5" style="display: block;">
                                <a id="home_slider_book_new_control_prev" rel="nofollow" href="javascript:void(0);" class="cachep-book-lib-prev prev" style="display: inline;">
                                    <i class="fa fa-angle-left pre"></i>
                                </a>
                                <a id="home_slider_book_new_control_next" rel="nofollow" href="javascript:void(0);" class="cachep-book-lib-next next" style="display: inline;">
                                    <i class="fa fa-angle-right nex"></i>
                                </a>
                            </div>
                            <div class="bar-more-button float-right">
                                <!--<a href="http://cachep.vn/danh-muc/sach-quoc-van/" rel="nofollow">Xem tất cả</a>-->
                            </div>
                        </div>

                        <div id="home_slider_book_new_outer" class="block-inner-content clearfix" style="width: 945px; margin: auto; display: block;">
                            <div id="owl-demo" class="owl-cachep-book-lib ">

                                <div class="item">
                                    <li class="item-outer">
                                        <a class="item-thumb" href="sample_product.html" rel="nofollow">
                                            <img width="200" height="280" src="img/book/nhumuadongroixuong-200x280.jpg" class="attachment-thumbnail-rectangle wp-post-image"
                                                 alt="nhumuadongroixuong">
                                            <span class="item-percent-bubble">-10%</span>
                                        </a>
                                        <div class="item-meta-outer">
                                            <h3 class="item-title">
                                                <a href="sample_product.html">Như Mùa Đông Rơi Xuống</a>
                                            </h3>
                                            <em class="item-author">Fuyu</em>
                                            <p class="item-price">
                                                <strong>71.000
                                                    <u>đ</u>
                                                </strong>
                                                <small>79.000
                                                    <u>đ</u>
                                                </small>
                                            </p>
                                        </div>
                                    </li>
                                </div>
                                <div class="item">
                                    <li class="item-outer">
                                        <a class="item-thumb" href="sample_product.html" rel="nofollow">
                                            <img width="200" height="280" src="img/book/lac_loi_giua_co_don_1-200x280.jpg" class="attachment-thumbnail-rectangle wp-post-image"
                                                 alt="lac_loi_giua_co_don_1">
                                            <span class="item-percent-bubble">-10%</span>
                                        </a>
                                        <div class="item-meta-outer">
                                            <h3 class="item-title">
                                                <a href="sample_product.html">Lạc Lối Giữa Cô Đơn</a>
                                            </h3>
                                            <em class="item-author">Minh Nhật</em>
                                            <p class="item-price">
                                                <strong>68.000
                                                    <u>đ</u>
                                                </strong>
                                                <small>76.000
                                                    <u>đ</u>
                                                </small>
                                            </p>
                                        </div>
                                    </li>
                                </div>
                                <div class="item">
                                    <li class="item-outer">
                                        <a class="item-thumb" href="sample_product.html" rel="nofollow">
                                            <img width="200" height="280" src="img/book/Truoc_khi_chet_phai_biet_yeu_la_gi-200x280.jpg" class="attachment-thumbnail-rectangle wp-post-image"
                                                 alt="Truoc_khi_chet_phai_biet_yeu_la_gi">
                                            <span class="item-percent-bubble">-10%</span>
                                        </a>
                                        <div class="item-meta-outer">
                                            <h3 class="item-title">
                                                <a href="sample_product.html">Trước Khi Chết Phải Biết Tình Yêu Là Gì</a>
                                            </h3>
                                            <em class="item-author">Nguyễn À Nguyễn</em>
                                            <p class="item-price">
                                                <strong>85.500
                                                    <u>đ</u>
                                                </strong>
                                                <small>95.000
                                                    <u>đ</u>
                                                </small>
                                            </p>
                                        </div>
                                    </li>
                                </div>
                                <div class="item">
                                    <li class="item-outer">
                                        <a class="item-thumb" href="sample_product.html" rel="nofollow">
                                            <img width="200" height="280" src="img/book/yeunguoingongnui-200x280.jpg" class="attachment-thumbnail-rectangle wp-post-image"
                                                 alt="yeunguoingongnui">
                                            <span class="item-percent-bubble">-10%</span>
                                        </a>
                                        <div class="item-meta-outer">
                                            <h3 class="item-title">
                                                <a href="sample_product.html">Yêu Người Ngóng Núi (Tản Văn – Tái Bản 2014)</a>
                                            </h3>
                                            <em class="item-author">Nguyễn Ngọc Tư</em>
                                            <p class="item-price">
                                                <strong>40.500
                                                    <u>đ</u>
                                                </strong>
                                                <small>45.000
                                                    <u>đ</u>
                                                </small>
                                            </p>
                                        </div>
                                    </li>
                                </div>
                                <div class="item">
                                    <li class="item-outer">
                                        <a class="item-thumb" href="sample_product.html" rel="nofollow">
                                            <img width="200" height="280" src="img/book/airoicungkhac-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image"
                                                 alt="airoicungkhac">
                                            <span class="item-percent-bubble">-10%</span>
                                        </a>
                                        <div class="item-meta-outer">
                                            <h3 class="item-title">
                                                <a href="sample_product.html">Ai Rồi Cũng Khác</a>
                                            </h3>
                                            <em class="item-author">Hamlet Trương - Iris Cao</em>
                                            <p class="item-price">
                                                <strong>62.000
                                                    <u>đ</u>
                                                </strong>
                                                <small>69.000
                                                    <u>đ</u>
                                                </small>
                                            </p>
                                        </div>
                                    </li>
                                </div>
                                <div class="item">
                                    <li class="item-outer">
                                        <a class="item-thumb" href="sample_product.html" rel="nofollow">
                                            <img width="200" height="280" src="img/book/gao-nuoc-mam-rau-muong-200x280.jpg" class="attachment-thumbnail-rectangle wp-post-image"
                                                 alt="gao-nuoc-mam-rau-muong">
                                            <span class="item-percent-bubble">-10%</span>
                                        </a>
                                        <div class="item-meta-outer">
                                            <h3 class="item-title">
                                                <a href="sample_product.html">Gạo, Nước Mắm, Rau Muống… Câu Chuyện Ẩm Thực Việt</a>
                                            </h3>
                                            <em class="item-author">Hoàng Trọng Dũng</em>
                                            <p class="item-price">
                                                <strong>90.000
                                                    <u>đ</u>
                                                </strong>
                                                <small>100.000
                                                    <u>đ</u>
                                                </small>
                                            </p>
                                        </div>
                                    </li>
                                </div>
                                <div class="item">
                                    <li class="item-outer">
                                        <a class="item-thumb" href="sample_product.html" rel="nofollow">
                                            <img width="200" height="280" src="img/book/du-con-song-the-nao-me-cung-luon-ung-ho-200x280.jpg" class="attachment-thumbnail-rectangle wp-post-image"
                                                 alt="du-con-song-the-nao-me-cung-luon-ung-ho">
                                            <span class="item-percent-bubble">-10%</span>
                                        </a>
                                        <div class="item-meta-outer">
                                            <h3 class="item-title">
                                                <a href="sample_product.html">Dù Con Sống Thế Nào, Mẹ Cũng Luôn Ủng Hộ</a>
                                            </h3>
                                            <em class="item-author">Gong Ji Young</em>
                                            <p class="item-price">
                                                <strong>61.000
                                                    <u>đ</u>
                                                </strong>
                                                <small>68.000
                                                    <u>đ</u>
                                                </small>
                                            </p>
                                        </div>
                                    </li>
                                </div>
                                <div class="item">
                                    <li class="item-outer">
                                        <a class="item-thumb" href="sample_product.html" rel="nofollow">
                                            <img width="200" height="280" src="img/book/thucdaytrenmainha-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image"
                                                 alt="thucdaytrenmainha">
                                            <span class="item-percent-bubble">-10%</span>
                                        </a>
                                        <div class="item-meta-outer">
                                            <h3 class="item-title">
                                                <a href="sample_product.html">Thức Dậy Trên Mái Nhà</a>
                                            </h3>
                                            <em class="item-author">Minh Mẫn</em>
                                            <p class="item-price">
                                                <strong>58.500
                                                    <u>đ</u>
                                                </strong>
                                                <small>65.000
                                                    <u>đ</u>
                                                </small>
                                            </p>
                                        </div>
                                    </li>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- book -->
            </div>



            <div class="content-block-inner home-block home-content-slider grid12">
                <div class="content-block clearfix mt20 mb0 single-related-post">
                    <div class="content-block-inner home-block category-content-slider">
                        <div class="block-inner-bar block-inner-tab-outer clearfix">
                            <ul class="block-inner-tab float-left home-aj-tab">
                                <li class="current">
                                    <a rel="nofollow" href="javascript:void(0);" data-container="#home_slider_book_new_outer,#home_slider_book_new_control" style="font-size: 22px;color:dodgerblue">Top 10 sản phẩm bán chạy nhất</a>
                                </li>
                            </ul>
                            <div id="home_slider_book_new_control" class="block-slider-control float-right mr5" style="display: block;">
                                <a id="home_slider_book_new_control_prev" rel="nofollow" href="javascript:void(0);" class="cachep-book-lib-prev1 prev" style="display: inline;">
                                    <i class="fa fa-angle-left pre"></i>
                                </a>
                                <a id="home_slider_book_new_control_next" rel="nofollow" href="javascript:void(0);" class="cachep-book-lib-next1 next" style="display: inline;">
                                    <i class="fa fa-angle-right nex"></i>
                                </a>
                            </div>
                            <div class="bar-more-button float-right">
                            </div>
                        </div>

                        <div id="home_slider_book_new_outer" class="block-inner-content clearfix" style="width: 945px; margin: auto; display: block;">
                            <div id="owl-demo" class="owl-cachep-book-lib1 ">

                                <!--<ul id="myList" class="block-slider-items list-item-default" style="width: 104%">-->
                                <div class="item">
                                    <li class="item-outer">
                                        <a class="item-thumb" href="sample_product.html" rel="nofollow">
                                            <img width="200" height="280" src="img/book/benkiadoi-200x280.jpg" class="attachment-thumbnail-rectangle wp-post-image" alt="benkiadoi">
                                            <span class="item-percent-bubble">-10%</span>
                                        </a>
                                        <div class="item-meta-outer">
                                            <h3 class="item-title">Bên Kia Đồi</h3>
                                            <em class="item-author">Võ Mỹ Linh</em>
                                            <p class="item-price">
                                                <strong class="strong">53000</strong>
                                                <strong>
                                                    <u>đ</u>
                                                </strong>
                                                <small>59000
                                                    <u>đ</u>
                                                </small>
                                            </p>
                                        </div>
                                    </li>
                                </div>
                                <div class="item">
                                    <li class="item-outer">
                                        <a class="item-thumb" href="sample_product.html" rel="nofollow">
                                            <img width="200" height="280" src="img/book/taoxanh-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image" alt="taoxanh">
                                            <span class="item-percent-bubble">-10%</span>
                                        </a>
                                        <div class="item-meta-outer">
                                            <h3 class="item-title">Táo Xanh – Hãy Để Anh Thương Em</h3>
                                            <em class="item-author">Nhiều tác giả</em>
                                            <p class="item-price">
                                                <strong class="strong">76500</strong>
                                                <strong>
                                                    <u>đ</u>
                                                </strong>
                                                <small>85000
                                                    <u>đ</u>
                                                </small>
                                            </p>
                                        </div>
                                    </li>
                                </div>
                                <div class="item">
                                    <li class="item-outer">
                                        <a class="item-thumb" href="sample_product.html" rel="nofollow">
                                            <img width="200" height="280" src="img/book/quatredechet-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image"
                                                 alt="quatredechet">
                                            <span class="item-percent-bubble">-10%</span>
                                        </a>
                                        <div class="item-meta-outer">
                                            <h3 class="item-title">Quá Trẻ Để Chết: Hành Trình Nước Mỹ</h3>
                                            <em class="item-author">Đinh Hằng</em>
                                            <p class="item-price">
                                                <strong class="strong">58500</strong>
                                                <strong>
                                                    <u>đ</u>
                                                </strong>
                                                <small>65000
                                                    <u>đ</u>
                                                </small>
                                            </p>
                                        </div>
                                    </li>
                                </div>
                                <div class="item">
                                    <li class="item-outer">
                                        <a class="item-thumb" href="sample_product.html" rel="nofollow">
                                            <img width="200" height="280" src="img/book/bamuonnuoiconbangsuame-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image"
                                                 alt="bamuonnuoiconbangsuame">
                                            <span class="item-percent-bubble">-10%</span>
                                        </a>
                                        <div class="item-meta-outer">
                                            <h3 class="item-title">Ba Muốn Nuôi Con Bằng Sữa Mẹ</h3>
                                            <em class="item-author">Trình Tuấn</em>
                                            <p class="item-price">
                                                <strong class="strong">61000</strong>
                                                <strong>
                                                    <u>đ</u>
                                                </strong>
                                                <small>68000
                                                    <u>đ</u>
                                                </small>
                                            </p>
                                        </div>
                                    </li>
                                </div>
                                <div class="item">
                                    <li class="item-outer">
                                        <a class="item-thumb" href="sample_product.html" rel="nofollow">
                                            <img width="200" height="280" src="img/book/bao-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image" alt="bao">
                                            <span class="item-percent-bubble">-10%</span>
                                        </a>
                                        <div class="item-meta-outer">
                                            <h3 class="item-title">Bão</h3>
                                            <em class="item-author">Le Clezio</em>
                                            <p class="item-price">
                                                <strong class="strong">63000</strong>
                                                <strong>
                                                    <u>đ</u>
                                                </strong>
                                                <small>70000
                                                    <u>đ</u>
                                                </small>
                                            </p>
                                        </div>
                                    </li>
                                </div>
                                <div class="item">
                                    <li class="item-outer">
                                        <a class="item-thumb" href="sample_product.html" rel="nofollow">
                                            <img width="200" height="280" src="img/book/chuyen_iphone_va_ga_chanh-200x280.jpg" class="attachment-thumbnail-rectangle wp-post-image"
                                                 alt="chuyen_iphone_va_ga_chanh">
                                            <span class="item-percent-bubble">-10%</span>
                                        </a>
                                        <div class="item-meta-outer">
                                            <h3 class="item-title">Chuyện Iphone Và Gã Chảnh Mang Mật Danh 49</h3>
                                            <em class="item-author">Thu Dương</em>
                                            <p class="item-price">
                                                <strong class="strong">57500</strong>
                                                <strong>
                                                    <u>đ</u>
                                                </strong>
                                                <small>64000
                                                    <u>đ</u>
                                                </small>
                                            </p>

                                        </div>
                                    </li>
                                </div>
                                <div class="item">
                                    <li class="item-outer">
                                        <a class="item-thumb" href="sample_product.html" rel="nofollow">
                                            <img width="200" height="280" src="img/book/vuan-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image" alt="vuan">
                                            <span class="item-percent-bubble">-10%</span>
                                        </a>
                                        <div class="item-meta-outer">
                                            <h3 class="item-title">Vụ Án</h3>
                                            <em class="item-author">Franz Kafka</em>
                                            <p class="item-price">
                                                <strong class="strong">61000</strong>
                                                <strong>
                                                    <u>đ</u>
                                                </strong>
                                                <small>68000
                                                    <u>đ</u>
                                                </small>
                                            </p>

                                        </div>
                                    </li>
                                </div>
                                <div class="item">
                                    <li class="item-outer">
                                        <a class="item-thumb" href="sample_product.html" rel="nofollow">
                                            <img width="200" height="280" src="img/book/nhungnuhondienanh-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image"
                                                 alt="nhungnuhondienanh">
                                            <span class="item-percent-bubble">-10%</span>
                                        </a>
                                        <div class="item-meta-outer">
                                            <h3 class="item-title">Những Nụ Hôn Điện Ảnh</h3>
                                            <em class="item-author">Eric Fottorino</em>
                                            <p class="item-price">
                                                <strong class="strong">52000</strong>
                                                <strong>
                                                    <u>đ</u>
                                                </strong>
                                                <small>58000
                                                    <u>đ</u>
                                                </small>
                                            </p>

                                        </div>
                                    </li>
                                </div>
                                <div class="item">
                                    <li class="item-outer">
                                        <a class="item-thumb" href="sample_product.html" rel="nofollow">
                                            <img width="200" height="280" src="img/book/tinhyeukhongphailatatca-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image"
                                                 alt="tinhyeukhongphailatatca">
                                            <span class="item-percent-bubble">-10%</span>
                                        </a>
                                        <div class="item-meta-outer">
                                            <h3 class="item-title">Tình Yêu Không Phải Là Tất Cả</h3>
                                            <em class="item-author">Nhiều tác giả</em>
                                            <p class="item-price">
                                                <strong class="strong">67500</strong>
                                                <strong>
                                                    <u>đ</u>
                                                </strong>
                                                <small>75000
                                                    <u>đ</u>
                                                </small>
                                            </p>

                                        </div>
                                    </li>
                                </div>
                                <div class="item">
                                    <li class="item-outer">
                                        <a class="item-thumb" href="sample_product.html" rel="nofollow">
                                            <img width="200" height="280" src="img/book/nhungconchimanminhchochet-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image"
                                                 alt="nhungconchimanminhchochet">
                                            <span class="item-percent-bubble">-10%</span>
                                        </a>
                                        <div class="item-meta-outer">
                                            <h3 class="item-title">Những Con Chim Ẩn Mình Chờ Chết</h3>
                                            <em class="item-author">Colleen Mccullough</em>
                                            <p class="item-price">
                                                <strong class="strong">130500</strong>
                                                <strong>
                                                    <u>đ</u>
                                                </strong>
                                                <small>145000
                                                    <u>đ</u>
                                                </small>
                                            </p>

                                        </div>
                                    </li>
                                </div>
                                <div class="item">
                                    <li class="item-outer">
                                        <a class="item-thumb" href="sample_product.html" rel="nofollow">
                                            <img width="200" height="280" src="img/book/taybuongtaytimthoinho-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image"
                                                 alt="taybuongtaytimthoinho">
                                            <span class="item-percent-bubble">-10%</span>
                                        </a>
                                        <div class="item-meta-outer">
                                            <h3 class="item-title">Tay Buông Tay Và Tim Thôi Nhớ</h3>
                                            <em class="item-author">Trương Tiểu Nhàn</em>
                                            <p class="item-price">
                                                <strong class="strong">80000</strong>
                                                <strong>
                                                    <u>đ</u>
                                                </strong>
                                                <small>89000
                                                    <u>đ</u>
                                                </small>
                                            </p>

                                        </div>
                                    </li>
                                </div>
                                <div class="item">
                                    <li class="item-outer">
                                        <a class="item-thumb" href="sample_product.html" rel="nofollow">
                                            <img width="200" height="280" src="img/book/gianaocungyeu-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image"
                                                 alt="gianaocungyeu">
                                            <span class="item-percent-bubble">-10%</span>
                                        </a>
                                        <div class="item-meta-outer">
                                            <h3 class="item-title">Giá Nào Cũng Yêu</h3>
                                            <em class="item-author">Lisa Kleypas</em>
                                            <p class="item-price">
                                                <strong class="strong">82500</strong>
                                                <strong>
                                                    <u>đ</u>
                                                </strong>
                                                <small>92000
                                                    <u>đ</u>
                                                </small>
                                            </p>

                                        </div>
                                    </li>
                                </div>
                                <div class="item">
                                    <li class="item-outer">
                                        <a class="item-thumb" href="sample_product.html" rel="nofollow">
                                            <img width="200" height="280" src="img/book/chientranhgiuacacthegioi-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image"
                                                 alt="chientranhgiuacacthegioi">
                                            <span class="item-percent-bubble">-10%</span>
                                        </a>
                                        <div class="item-meta-outer">
                                            <h3 class="item-title">Chiến Tranh Giữa Các Thế Giới</h3>
                                            <em class="item-author">H. G. Wells</em>
                                            <p class="item-price">
                                                <strong class="strong">55500</strong>
                                                <strong>
                                                    <u>đ</u>
                                                </strong>
                                                <small>62000
                                                    <u>đ</u>
                                                </small>
                                            </p>

                                        </div>
                                    </li>
                                </div>
                                <div class="item">
                                    <li class="item-outer">
                                        <a class="item-thumb" href="sample_product.html" rel="nofollow">
                                            <img width="200" height="280" src="img/book/hoatuylipden-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image"
                                                 alt="hoatuylipden">
                                            <span class="item-percent-bubble">-10%</span>
                                        </a>
                                        <div class="item-meta-outer">
                                            <h3 class="item-title">Hoa Tuylip Đen</h3>
                                            <em class="item-author">Alexander Dumas</em>
                                            <p class="item-price">
                                                <strong class="strong">49500</strong>
                                                <strong>
                                                    <u>đ</u>
                                                </strong>
                                                <small>55000
                                                    <u>đ</u>
                                                </small>
                                            </p>

                                        </div>
                                    </li>
                                </div>
                                <div class="item">
                                    <li class="item-outer">
                                        <a class="item-thumb" href="sample_product.html" rel="nofollow">
                                            <img width="200" height="280" src="img/book/cuongphong-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image"
                                                 alt="cuongphong">
                                            <span class="item-percent-bubble">-10%</span>
                                        </a>
                                        <div class="item-meta-outer">
                                            <h3 class="item-title">Cuồng Phong (Tái Bản 2015)</h3>
                                            <em class="item-author">Nguyễn Phan Hách</em>
                                            <p class="item-price">
                                                <strong class="strong">115000</strong>
                                                <strong>
                                                    <u>đ</u>
                                                </strong>
                                                <small>128000
                                                    <u>đ</u>
                                                </small>
                                            </p>

                                        </div>
                                    </li>
                                </div>




                            </div>
                        </div>
                    </div>
                    <!-- book -->
                </div>




                <div class="content-block-inner home-block home-content-slider grid12">
                    <div class="content-block clearfix mt20 mb0 single-related-post">
                        <div class="content-block-inner home-block category-content-slider">
                            <div class="block-inner-bar block-inner-tab-outer clearfix">
                                <ul class="block-inner-tab float-left home-aj-tab">
                                    <li class="current">
                                        <a rel="nofollow" href="javascript:void(0);" data-container="#home_slider_book_new_outer,#home_slider_book_new_control" style="font-size: 22px;color:#0a8b1b">Top 10 sản phẩm được xem nhiều nhất</a>
                                    </li>
                                </ul>
                                <div id="home_slider_book_new_control" class="block-slider-control float-right mr5" style="display: block;">
                                    <a id="home_slider_book_new_control_prev" rel="nofollow" href="javascript:void(0);" class="cachep-book-lib-prev2 prev" style="display: inline;">
                                        <i class="fa fa-angle-left pre"></i>
                                    </a>
                                    <a id="home_slider_book_new_control_next" rel="nofollow" href="javascript:void(0);" class="cachep-book-lib-next2 next" style="display: inline;">
                                        <i class="fa fa-angle-right nex"></i>
                                    </a>
                                </div>
                                <div class="bar-more-button float-right">
                                    <!--<a href="http://cachep.vn/danh-muc/sach-quoc-van/" rel="nofollow">Xem tất cả</a>-->
                                </div>
                            </div>

                            <div id="home_slider_book_new_outer" class="block-inner-content clearfix" style="width: 945px; margin: auto; display: block;">
                                <div id="owl-demo" class="owl-cachep-book-lib2 ">

                                    <div class="item">
                                        <li class="item-outer">
                                            <a class="item-thumb" href="sample_product.html" rel="nofollow">
                                                <img width="200" height="280" src="img/book/ngayayviaimadoithay-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image"
                                                     alt="ngayayviaimadoithay">
                                                <span class="item-percent-bubble">-10%</span>
                                            </a>
                                            <div class="item-meta-outer">
                                                <h3 class="item-title">Ngày Ây Vì Ai Mà Đổi Thay</h3>
                                                <em class="item-author">Cẩm Thương</em>
                                                <p class="item-price">
                                                    <strong class="strong">68000</strong>
                                                    <strong>
                                                        <u>đ</u>
                                                    </strong>
                                                    <small>76000
                                                        <u>đ</u>
                                                    </small>
                                                </p>

                                            </div>
                                        </li>
                                    </div>
                                    <div class="item">
                                        <li class="item-outer">
                                            <a class="item-thumb" href="sample_product.html" rel="nofollow">
                                                <img width="200" height="280" src="img/book/lacnhaugiuanganha-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image"
                                                     alt="lacnhaugiuanganha">
                                                <span class="item-percent-bubble">-10%</span>
                                            </a>
                                            <div class="item-meta-outer">
                                                <h3 class="item-title">Lạc Nhau Giữa Ngân Hà</h3>
                                                <em class="item-author">Nhóm bút Lovedia</em>
                                                <p class="item-price">
                                                    <strong>71000
                                                        <u>đ</u>
                                                    </strong>
                                                    <small>79.000
                                                        <u>đ</u>
                                                    </small>
                                                </p>
                                                <strong class="strong">63000</strong>
                                                <strong>
                                                    <u>đ</u>
                                                </strong>
                                                <small>70000
                                                    <u>đ</u>
                                                </small>
                                                </p>

                                            </div>
                                        </li>
                                    </div>
                                    <div class="item">
                                        <li class="item-outer">
                                            <a class="item-thumb" href="sample_product.html" rel="nofollow">
                                                <img width="200" height="280" src="img/book/chungtaodocontinhyeuthikhong-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image"
                                                     alt="chungtaodocontinhyeuthikhong">
                                                <span class="item-percent-bubble">-10%</span>
                                            </a>
                                            <div class="item-meta-outer">
                                                <h3 class="item-title">Chúng Ta Ở Đó, Còn Tình Yêu Thì Không</h3>
                                                <em class="item-author">Hạc Xanh</em>
                                                <p class="item-price">
                                                    <strong class="strong">54000</strong>
                                                    <strong>
                                                        <u>đ</u>
                                                    </strong>
                                                    <small>60000
                                                        <u>đ</u>
                                                    </small>
                                                </p>

                                            </div>
                                        </li>
                                    </div>
                                    <div class="item">
                                        <li class="item-outer">
                                            <a class="item-thumb" href="sample_product.html" rel="nofollow">
                                                <img width="200" height="280" src="img/book/dunghonohoian-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image"
                                                     alt="dunghonohoian">
                                                <span class="item-percent-bubble">-10%</span>
                                            </a>
                                            <div class="item-meta-outer">
                                                <h3 class="item-title">Đừng Hôn Ở Hội An</h3>
                                                <em class="item-author">Đinh Lê Vũ</em>
                                                <p class="item-price">
                                                    <strong class="strong">67500</strong>
                                                    <strong>
                                                        <u>đ</u>
                                                    </strong>
                                                    <small>75000
                                                        <u>đ</u>
                                                    </small>
                                                </p>

                                            </div>
                                        </li>
                                    </div>
                                    <div class="item">
                                        <li class="item-outer">
                                            <a class="item-thumb" href="sample_product.html" rel="nofollow">
                                                <img width="200" height="280" src="img/book/danba30-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image" alt="danba30">
                                                <span class="item-percent-bubble">-10%</span>
                                            </a>
                                            <div class="item-meta-outer">
                                                <h3 class="item-title">Đàn Bà 30 (Tái Bản 2015)</h3>
                                                <em class="item-author">Trang Hạ</em>
                                                <p class="item-price">
                                                    <strong class="strong">71000</strong>
                                                    <strong>
                                                        <u>đ</u>
                                                    </strong>
                                                    <small>79000
                                                        <u>đ</u>
                                                    </small>
                                                </p>

                                            </div>
                                        </li>
                                    </div>
                                    <div class="item">
                                        <li class="item-outer">
                                            <a class="item-thumb" href="sample_product.html" rel="nofollow">
                                                <img width="200" height="280" src="img/book/tinh-nhan-khong-bao-gio-cuoi-200x280.jpg" class="attachment-thumbnail-rectangle wp-post-image"
                                                     alt="tinh-nhan-khong-bao-gio-cuoi">
                                                <span class="item-percent-bubble">-9%</span>
                                            </a>
                                            <div class="item-meta-outer">
                                                <h3 class="item-title">Tình Nhân Không Bao Giờ Đòi Cưới</h3>
                                                <em class="item-author">Trang Hạ</em>
                                                <p class="item-price">
                                                    <strong class="strong">59500</strong>
                                                    <strong>
                                                        <u>đ</u>
                                                    </strong>
                                                    <small>66000
                                                        <u>đ</u>
                                                    </small>
                                                </p>

                                            </div>
                                        </li>
                                    </div>

                                    <div class="item">
                                        <li class="item-outer">
                                            <a class="item-thumb" href="sample_product.html" rel="nofollow">
                                                <img width="200" height="280" src="img/book/chipheovafacebook-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image"
                                                     alt="chipheovafacebook">
                                                <span class="item-percent-bubble">-10%</span>
                                            </a>
                                            <div class="item-meta-outer">
                                                <h3 class="item-title">Chí Phèo Và Facebook</h3>
                                                <em class="item-author">Võ Tòng Đánh Mèo</em>
                                                <p class="item-price">
                                                    <strong class="strong">64500</strong>
                                                    <strong>
                                                        <u>đ</u>
                                                    </strong>
                                                    <small>72000
                                                        <u>đ</u>
                                                    </small>
                                                </p>

                                            </div>
                                        </li>
                                    </div>
                                    <div class="item">
                                        <li class="item-outer">
                                            <a class="item-thumb" href="sample_product.html" rel="nofollow">
                                                <img width="200" height="280" src="img/book/macnhien-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image" alt="macnhien">
                                                <span class="item-percent-bubble">-10%</span>
                                            </a>
                                            <div class="item-meta-outer">
                                                <h3 class="item-title">Mặc Nhiên</h3>
                                                <em class="item-author">Elvis Nguyễn</em>
                                                <p class="item-price">
                                                    <strong class="strong">52000</strong>
                                                    <strong>
                                                        <u>đ</u>
                                                    </strong>
                                                    <small>58000
                                                        <u>đ</u>
                                                    </small>
                                                </p>

                                            </div>
                                        </li>
                                    </div>
                                    <div class="item">
                                        <li class="item-outer">
                                            <a class="item-thumb" href="sample_product.html" rel="nofollow">
                                                <img width="200" height="280" src="img/book/dat-toi-ve-phia-mat-troi-200x280.jpg" class="attachment-thumbnail-rectangle wp-post-image"
                                                     alt="dat-toi-ve-phia-mat-troi">
                                                <span class="item-percent-bubble">-10%</span>
                                            </a>
                                            <div class="item-meta-outer">
                                                <h3 class="item-title">Dắt Tôi Về Phía Mặt Trời</h3>
                                                <em class="item-author">Ploy - Mèo Mốc</em>
                                                <p class="item-price">
                                                    <strong class="strong">58500</strong>
                                                    <strong>
                                                        <u>đ</u>
                                                    </strong>
                                                    <small>65000
                                                        <u>đ</u>
                                                    </small>
                                                </p>

                                            </div>
                                        </li>
                                    </div>

                                    <div class="item">
                                        <li class="item-outer">
                                            <a class="item-thumb" href="sample_product.html" rel="nofollow">
                                                <img width="200" height="280" src="img/book/ivanhoe-200x280.jpg" class="attachment-thumbnail-rectangle wp-post-image" alt="ivanhoe">
                                                <span class="item-percent-bubble">-20%</span>
                                            </a>
                                            <div class="item-meta-outer">
                                                <h3 class="item-title">Ivanhoe</h3>
                                                <em class="item-author">Walter Scott</em>
                                                <p class="item-price">
                                                    <strong class="strong">96000</strong>
                                                    <strong>
                                                        <u>đ</u>
                                                    </strong>
                                                    <small>120000
                                                        <u>đ</u>
                                                    </small>
                                                </p>

                                            </div>
                                        </li>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- book -->
                </div>



            </div>

        </div>
    </div>
</div>