<div class="container sp">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Quản lý loại sách</h3>
        </div>
        <div class="panel-body">

            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Mã Loại</th>
                        <th>Tên loại sách</th>
                        <th>Số lượng đặt mua</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>001 </td>
                        <td>Sách Tiếng Việt  </td>
                        <td>10 </td>
                    </tr>
                    <tr>
                        <td>002 </td>
                        <td> Sách Tiếng Anh </td>
                        <td>12 </td>
                    </tr>
                    <tr>
                        <td>003 </td>
                        <td> Sách Văn Học </td>
                        <td>4 </td>
                    </tr>
                    <tr>
                        <td>004 </td>
                        <td>Sách Thiếu Nhi  </td>
                        <td>17 </td>
                    </tr>
                    <tr>
                        <td>005 </td>
                        <td>Sách Kỹ Năng - Sống Đẹp </td>
                        <td>29 </td>
                    </tr>
                    <tr>
                        <td>006 </td>
                        <td>Sách Kinh Tế </td>
                        <td>7 </td>
                    </tr>
                    <tr>
                        <td>007 </td>
                        <td>Sách Nuôi Dạy Con </td>
                        <td>4 </td>
                    </tr>
                    <tr>
                        <td>008 </td>
                        <td>Sách Tham Khảo </td>
                        <td>21 </td>
                    </tr>
                    <tr>
                        <td>009 </td>
                        <td>Sách Giáo Khoa </td>
                        <td>12 </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <nav class="pagination">
                <ul class="pagination">
                    <li>
                        <a aria-label="Previous">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>
                    <li>
                        <a>1</a>
                    </li>
                    <li>
                        <a>2</a>
                    </li>
                    <li>
                        <a>3</a>
                    </li>
                    <li>
                        <a>4</a>
                    </li>
                    <li>
                        <a>5</a>
                    </li>
                    <li>
                        <a aria-label="Next">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <button class="btn btn-info" type="button">Thêm loại sách</button>
</div>