<div class="body-outer fluid fluid-nomargin container clearfix">
    <div class="primary-outer">
        <div class="sidebar-outer grid3">
            <div class="content-block-topboard sidebar-block sidebar-block-category-lv1 category-hide">
                <div class="category-list-outer"style="width: 97%">
                    <div class="category-list-title" >
                        Tất cả danh mục
                    </div>
                    <ul class="category-list-items">
                        <li class="item-lv1">
                            <div class="item-lv1-inner">
                                <div class="active-border ygradient1"></div>
                                <div class="lv1-content">
                                    <h2 class="lv1-title">
                                        <a href="ngoai-ngu.html">Sách quốc văn</a>
                                    </h2>
                                    <p class="lv1-desc">
                                        <a href="#">Văn học</a><br>
                                        <a href="#">Sách kinh tế</a><br>

                                    </p>
                                </div>
                                <span class="lv1-arrow">
                                                <i class="fa fa-angle-right"></i>
                                            </span>
                            </div>
                            <div class="lv1-child-outer lv1-child-3-col">
                                <div class="child-col">
                                    <div class="links-group">
                                        <span class="group-title">Nổi bật</span>
                                        <ul class="group-links">
                                            <li>
                                                <a href="ngoai-ngu.html">Hàng mới</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Giảm giá</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Bán chạy</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Sách kinh tế</a>
                                                    </span>
                                        <ul class="group-links">
                                            <li>
                                                <a href="ngoai-ngu.html">Bài học kinh doanh</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Doanh nhân</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Khởi nghiệp</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Kinh tế học</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Kỹ năng làm việc</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Marketing - Bán hàng</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Quản trị - Lãnh đạo</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Tài chính - Kế toán</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="child-col">
                                    <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Văn học</a>
                                                    </span>
                                        <ul class="group-links">
                                            <li>
                                                <a href="ngoai-ngu.html">Hài hước - Truyện cười</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Huyền bí - Giả tưởng</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Kinh dị</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Phê bình văn học</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Phóng sự - Ký sự</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Tác phẩm kinh điển</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Thơ</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Tiểu sử - Hồi ký</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Tiểu thuyết tình cảm lãng mạn</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Truyện kiếm hiệp - Phiêu lưu</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Truyện ngắn - Tản văn</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Truyện ngôn tình</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Truyện trinh thám</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Đam mỹ</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="child-col child-col-last">
                                    <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Thường thức - Đời sống</a>
                                                    </span>
                                        <ul class="group-links">
                                            <li>
                                                <a href="ngoai-ngu.html">Chăm sóc sức khỏe</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Làm vườn - Vật nuôi</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Nấu ăn</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Nuôi dạy con - Chăm sóc gia đình</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Phong thủy - Nhà cửa</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Tâm lý - Giới tính</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Trò chơi - Giải trí</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Sách học ngoại ngữ</a>
                                                    </span>
                                    </div>
                                    <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Sách kỹ năng sống</a>
                                                    </span>
                                        <ul class="group-links">
                                            <li>
                                                <a href="ngoai-ngu.html">Kỹ năng sống</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Nghệ thuật sống đẹp</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item-lv1">
                            <div class="item-lv1-inner">
                                <div class="active-border ygradient2"></div>
                                <div class="lv1-content">
                                    <h2 class="lv1-title">
                                        <a href="ngoai-ngu.html">Sách ngoại văn</a>
                                    </h2>
                                    <p class="lv1-desc">
                                        <a href="ngoai-ngu.html">Tiếng Anh</a>
                                        <br>
                                        <a href="ngoai-ngu.html">Tiếng khác</a>
                                    </p>
                                </div>
                                <span class="lv1-arrow">
                                                <i class="fa fa-angle-right"></i>
                                            </span>
                            </div>
                            <div class="lv1-child-outer lv1-child-1-col">
                                <div class="child-col">
                                    <div class="links-group">
                                        <span class="group-title">Nổi bật</span>
                                        <ul class="group-links">
                                            <li>
                                                <a href="ngoai-ngu.html">Hàng mới</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Giảm giá</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Bán chạy</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Giáo trình</a>
                                                    </span>
                                    </div>
                                    <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Sách tham khảo</a>
                                                    </span>
                                    </div>
                                    <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Từ điển</a>
                                                    </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item-lv1">
                            <div class="item-lv1-inner">
                                <div class="active-border ygradient3"></div>
                                <div class="lv1-content">
                                    <h2 class="lv1-title">
                                        <a href="ngoai-ngu.html">Sách thiếu nhi</a>
                                    </h2>
                                </div>
                                <span class="lv1-arrow">
                                                <i class="fa fa-angle-right"></i>
                                            </span>
                            </div>
                            <div class="lv1-child-outer lv1-child-1-col">
                                <div class="child-col">
                                    <div class="links-group">
                                        <span class="group-title">Nổi bật</span>
                                        <ul class="group-links">
                                            <li>
                                                <a href="ngoai-ngu.html">Hàng mới</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Giảm giá</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Bán chạy</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Kiến thức khoa học</a>
                                                    </span>
                                    </div>
                                    <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Manga - Comic</a>
                                                    </span>
                                    </div>
                                    <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Truyện tranh</a>
                                                    </span>
                                    </div>
                                    <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Văn học</a>
                                                    </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item-lv1">
                            <div class="item-lv1-inner">
                                <div class="active-border ygradient4"></div>
                                <div class="lv1-content">
                                    <h2 class="lv1-title">
                                        <a href="ngoai-ngu.html">Báo chí</a>
                                    </h2>

                                </div>
                                <span class="lv1-arrow">
                                                <i class="fa fa-angle-right"></i>
                                            </span>
                            </div>
                            <div class="lv1-child-outer lv1-child-1-col">
                                <div class="child-col">
                                    <div class="links-group">
                                        <span class="group-title">Nổi bật</span>
                                        <ul class="group-links">
                                            <li>
                                                <a href="ngoai-ngu.html">Hàng mới</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Giảm giá</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Bán chạy</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Người lao động     </a>
                                                    </span>
                                    </div>
                                    <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Tiên phong</a>
                                                    </span>
                                    </div>
                                    <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Pháp luật</a>
                                                    </span>
                                    </div>
                                    <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Tài chính</a>
                                                    </span>
                                    </div>
                                    <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Công an</a>
                                                    </span>
                                    </div>
                                    <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Chứng khoán</a>
                                                    </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item-lv1">
                            <div class="item-lv1-inner">
                                <div class="active-border ygradient4"></div>
                                <div class="lv1-content">
                                    <h2 class="lv1-title">
                                        <a href="ngoai-ngu.html">Tạp chí</a>
                                    </h2>

                                </div>
                                <span class="lv1-arrow">
                                                <i class="fa fa-angle-right"></i>
                                            </span>
                            </div>
                            <div class="lv1-child-outer lv1-child-1-col">
                                <div class="child-col">
                                    <div class="links-group">
                                        <span class="group-title">Nổi bật</span>
                                        <ul class="group-links">
                                            <li>
                                                <a href="ngoai-ngu.html">Hàng mới</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Giảm giá</a>
                                            </li>
                                            <li>
                                                <a href="ngoai-ngu.html">Bán chạy</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Phụ nữ</a>
                                                    </span>
                                    </div>
                                    <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Thời trang</a>
                                                    </span>
                                    </div>
                                    <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Đẹp</a>
                                                    </span>
                                    </div>
                                    <div class="links-group">
                                                    <span class="group-title">
                                                        <a href="ngoai-ngu.html">Văn hoá</a>
                                                    </span>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>    		</div>

            <div class="content-block-topboard sidebar-block sidebar-block-category-lv2">
                <div class="topboard-inner">
                    <div class="topboard-title "> Loại sách </div>
                    <ul class="topboard-items clearfix ">
                        <li class="clearfix ">
                            <div class="item-info">
                                <h3 class="item-title"><a >Sách quốc văn</a></h3>
                            </div>
                        </li>
                        <li class="clearfix ">
                            <div class="item-info">
                                <h3 class="item-title"><a >Sách ngoại văn</a></h3>
                            </div>
                        </li>
                        <li class="clearfix ">
                            <div class="item-info">
                                <h3 class="item-title"><a >Sách thiếu nhi</a></h3>
                            </div>
                        </li>


                    </ul>
                </div>
            </div>

            <div class="content-block-topboard sidebar-block sidebar-block-category-lv2" >
                <div class="topboard-inner">
                    <div class="topboard-title">Phân loại theo tầm giá</div>
                    <ul class="topboard-items clearfix">
                        <li class="clearfix ">
                            <div class="item-info">
                                <h3 class="item-title"><a >Dưới 50.000 <u>đ</u></a></h3>
                            </div>
                        </li>
                        <li class="clearfix ">
                            <div class="item-info">
                                <h3 class="item-title"><a >Từ 50.000 đến 100.000 <u>đ</u></a></h3>
                            </div>
                        </li>
                        <li class="clearfix ">
                            <div class="item-info">
                                <h3 class="item-title"><a >Từ 100.000 đến 200.000 <u>đ</u></a></h3>
                            </div>
                        </li>
                        <li class="clearfix ">
                            <div class="item-info">
                                <h3 class="item-title"><a >Trên 200.000 <u>đ</u></a></h3>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="content-block-topboard sidebar-block sidebar-block-category-lv2">
                <div class="topboard-inner">
                    <div class="topboard-title">Nhà xuất bản nổi bật</div>
                    <ul class="topboard-items clearfix">
                        <li class="clearfix">
                            <div class="item-info">
                                <h3 class="item-title"><a href="">NXB Trẻ</a></h3>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="item-info">
                                <h3 class="item-title"><a href="">Oxford University Press</a></h3>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="item-info">
                                <h3 class="item-title"><a href="">Tri Thức</a></h3>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="content-block-topboard topboard-book">
                <div class="topboard-inner">
                    <div class="topboard-title">Sách bán chạy trong tuần</div>
                    <ul class="topboard-items clearfix">
                        <li class="clearfix">
                            <div class="item-order solid1"><span>1</span></div>
                            <div class="item-info">
                                <h3 class="item-title"><a href="">Hoa Tuylip Đen</a></h3>
                                <p class="item-price">
                                    <strong>49.500 <u>đ</u></strong><small>55.000 <u>đ</u></small>            </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="item-order solid2"><span>2</span></div>
                            <div class="item-info">
                                <h3 class="item-title"><a href="">Chat Với Tình Địch</a></h3>
                                <p class="item-price">
                                    <strong>46.500 <u>đ</u></strong><small>52.000 <u>đ</u></small>            </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="item-order solid3"><span>3</span></div>
                            <div class="item-info">
                                <h3 class="item-title"><a href="">Kẻ Phóng Đãng Thần Thánh</a></h3>
                                <p class="item-price">
                                    <strong>89.000 <u>đ</u></strong><small>99.000 <u>đ</u></small>            </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="item-order solid4"><span>4</span></div>
                            <div class="item-info">
                                <h3 class="item-title"><a href="">Chuyến Du Hành Kỳ Lạ Của Ngài Daldry</a></h3>
                                <p class="item-price">
                                    <strong>76.500 <u>đ</u></strong><small>85.000 <u>đ</u></small>            </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="item-order solid5"><span>5</span></div>
                            <div class="item-info">
                                <h3 class="item-title"><a href="">Học Cách Tiêu Tiền</a></h3>
                                <p class="item-price">
                                    <strong>53.000 <u>đ</u></strong><small>59.000 <u>đ</u></small>            </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="primary-inner grid9">

            <ul class="breadcrumb no-style" xmlns:v="http://rdf.data-vocabulary.org/#"><li typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="http://cachep.vn/">Trang chủ</a> <span class="divider">/</span></li><li typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="http://cachep.vn/danh-muc/sach-quoc-van/">Sách quốc văn</a> <span class="divider">/</span></li><li typeof="v:Breadcrumb" class="active"><em property="v:title">Văn học</em></li></ul><div class="content-block clearfix content-block-list content-block-product-grid">
            <div class="block-title-outer clearfix">
                <h2 class="block-title float-left">Văn học</h2>
                <div class="pager-outer float-right">
                    <span class="page-numbers current">1</span>
                    <a class="page-numbers" href="">2</a>
                    <a class="page-numbers" href="">3</a>
                    <span class="page-numbers dots">…</span>
                    <a class="page-numbers" href="">13</a>		</div>
            </div>
            <div class="block-bar clearfix">
                <div class="block-view-styles no-style float-left">
                    <a href="jvascript:void(0);" onclick="aj_set_session(&#39;view-style&#39;, &#39;block&#39;, &#39;&#39;); return false;" class="style-button-block current"><i class="fa fa-th-large"></i></a>
                    <a href="jvascript:void(0);" onclick="aj_set_session(&#39;view-style&#39;, &#39;list&#39;, &#39;&#39;); return false;" class="style-button-list "><i class="fa fa-list"></i></a>
                </div>
                <div class="block-filters float-right">
                    <span class="block-orderby-label ml5">Sắp xếp theo</span>

                    <select class="block-orderby-select" onchange="aj_set_location(this.value)">
                        <option selected="" value="">Hàng mới nhập</option>
                        <option value="">Tên: Z đến A</option>
                        <option value="">Tên: A đến Z</option>
                        <option value="">Sản phẩm nổi bật</option>
                        <option value="">Giá: Cao đến Thấp</option>
                        <option value="">Giá: Thấp đến Cao</option>
                    </select>

                    <select class="block-page-item-select" onchange="aj_set_session(&#39;post-per-page&#39;, this.value, &#39;http://cachep.vn/danh-muc/sach-quoc-van/van-hoc/&#39;); return false;">
                        <option value="5">5</option>
                        <option value="25" selected="">25</option>
                        <option value="35">35</option>
                        <option value="45">45</option>
                    </select>

                    <span class="block-page-item-label ml5">Sản phẩm/trang</span>
                </div>
            </div>
            <div class="block-inner-content clearfix">
                <ul id="myList" class="block-slider-items list-item-default" style="width: 104%">

                    <li class="item-outer" >
                        <a  class="item-thumb" href="" rel="nofollow">
                            <img width="200" height="280" src="img/book/benkiadoi-200x280.jpg" class="attachment-thumbnail-rectangle wp-post-image" alt="benkiadoi">            <span class="item-percent-bubble">-10%</span>        </a>
                        <div class="item-meta-outer">
                            <h3 class="item-title">Bên Kia Đồi</h3>
                            <em class="item-author">Võ Mỹ Linh</em>
                            <p class="item-price">
                                <strong class="strong">53000</strong><strong><u>đ</u></strong><small>59000 <u>đ</u></small></p>
                        </div>
                    </li>

                    <li class="item-outer">
                        <a  class="item-thumb" href="" rel="nofollow">
                            <img width="200" height="280" src="img/book/taoxanh-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image" alt="taoxanh">            <span class="item-percent-bubble">-10%</span>        </a>
                        <div class="item-meta-outer">
                            <h3 class="item-title">Táo Xanh – Hãy Để Anh Thương Em</h3>
                            <em class="item-author">Nhiều tác giả</em>
                            <p class="item-price">
                                <strong class="strong">76500</strong><strong><u>đ</u></strong><small>85000 <u>đ</u></small></p>
                        </div>
                    </li>
                    <li class="item-outer">
                        <a  class="item-thumb" href="" rel="nofollow">
                            <img width="200" height="280" src="img/book/quatredechet-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image" alt="quatredechet">            <span class="item-percent-bubble">-10%</span>        </a>
                        <div class="item-meta-outer">
                            <h3 class="item-title">Quá Trẻ Để Chết: Hành Trình Nước Mỹ</h3>
                            <em class="item-author">Đinh Hằng</em>
                            <p class="item-price">
                                <strong class="strong">58500</strong><strong><u>đ</u></strong><small>65000 <u>đ</u></small></p>
                        </div>
                    </li>
                    <li class="item-outer" >
                        <a class="item-thumb" href="" rel="nofollow">
                            <img width="200" height="280" src="img/book/bamuonnuoiconbangsuame-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image" alt="bamuonnuoiconbangsuame">            <span class="item-percent-bubble">-10%</span>        </a>
                        <div class="item-meta-outer">
                            <h3 class="item-title">Ba Muốn Nuôi Con Bằng Sữa Mẹ</h3>
                            <em class="item-author">Trình Tuấn</em>
                            <p class="item-price">
                                <strong class="strong">61000</strong><strong><u>đ</u></strong><small>68000 <u>đ</u></small></p>
                        </div>
                    </li>
                    <li class="item-outer">
                        <a class="item-thumb" href="" rel="nofollow">
                            <img width="200" height="280" src="img/book/bao-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image" alt="bao">            <span class="item-percent-bubble">-10%</span>        </a>
                        <div class="item-meta-outer">
                            <h3 class="item-title">Bão</h3>
                            <em class="item-author">Le Clezio</em>
                            <p class="item-price">
                                <strong class="strong">63000</strong><strong><u>đ</u></strong><small>70000 <u>đ</u></small></p>
                        </div>
                    </li>
                    <li class="item-outer">
                        <a class="item-thumb" href="" rel="nofollow">
                            <img width="200" height="280" src="img/book/chuyen_iphone_va_ga_chanh-200x280.jpg" class="attachment-thumbnail-rectangle wp-post-image" alt="chuyen_iphone_va_ga_chanh">            <span class="item-percent-bubble">-10%</span>        </a>
                        <div class="item-meta-outer">
                            <h3 class="item-title">Chuyện Iphone Và Gã Chảnh Mang Mật Danh 49</h3>
                            <em class="item-author">Thu Dương</em>
                            <p class="item-price">
                                <strong class="strong">57500</strong><strong><u>đ</u></strong><small>64000 <u>đ</u></small></p>

                        </div>
                    </li>
                    <li class="item-outer">
                        <a class="item-thumb" href="" rel="nofollow">
                            <img width="200" height="280" src="img/book/vuan-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image" alt="vuan">            <span class="item-percent-bubble">-10%</span>        </a>
                        <div class="item-meta-outer">
                            <h3 class="item-title">Vụ Án</h3>
                            <em class="item-author">Franz Kafka</em>
                            <p class="item-price">
                                <strong class="strong">61000</strong><strong><u>đ</u></strong><small>68000 <u>đ</u></small></p>

                        </div>
                    </li>
                    <li class="item-outer">
                        <a class="item-thumb" href="" rel="nofollow">
                            <img width="200" height="280" src="img/book/nhungnuhondienanh-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image" alt="nhungnuhondienanh">            <span class="item-percent-bubble">-10%</span>        </a>
                        <div class="item-meta-outer">
                            <h3 class="item-title">Những Nụ Hôn Điện Ảnh</h3>
                            <em class="item-author">Eric Fottorino</em>
                            <p class="item-price">
                                <strong class="strong">52000</strong><strong><u>đ</u></strong><small>58000 <u>đ</u></small></p>

                        </div>
                    </li>
                    <li class="item-outer">
                        <a class="item-thumb" href="" rel="nofollow">
                            <img width="200" height="280" src="img/book/tinhyeukhongphailatatca-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image" alt="tinhyeukhongphailatatca">            <span class="item-percent-bubble">-10%</span>        </a>
                        <div class="item-meta-outer">
                            <h3 class="item-title">Tình Yêu Không Phải Là Tất Cả</h3>
                            <em class="item-author">Nhiều tác giả</em>
                            <p class="item-price">
                                <strong class="strong">67500</strong><strong><u>đ</u></strong><small>75000 <u>đ</u></small></p>

                        </div>
                    </li>
                    <li class="item-outer">
                        <a class="item-thumb" href="" rel="nofollow">
                            <img width="200" height="280" src="img/book/nhungconchimanminhchochet-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image" alt="nhungconchimanminhchochet">            <span class="item-percent-bubble">-10%</span>        </a>
                        <div class="item-meta-outer">
                            <h3 class="item-title">Những Con Chim Ẩn Mình Chờ Chết</h3>
                            <em class="item-author">Colleen Mccullough</em>
                            <p class="item-price">
                                <strong class="strong">130500</strong><strong><u>đ</u></strong><small>145000 <u>đ</u></small></p>

                        </div>
                    </li>
                    <li class="item-outer">
                        <a class="item-thumb" href="" rel="nofollow">
                            <img width="200" height="280" src="img/book/taybuongtaytimthoinho-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image" alt="taybuongtaytimthoinho">            <span class="item-percent-bubble">-10%</span>        </a>
                        <div class="item-meta-outer">
                            <h3 class="item-title">Tay Buông Tay Và Tim Thôi Nhớ</h3>
                            <em class="item-author">Trương Tiểu Nhàn</em>
                            <p class="item-price">
                                <strong class="strong">80000</strong><strong><u>đ</u></strong><small>89000 <u>đ</u></small></p>

                        </div>
                    </li>
                    <li class="item-outer">
                        <a class="item-thumb" href="" rel="nofollow">
                            <img width="200" height="280" src="img/book/gianaocungyeu-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image" alt="gianaocungyeu">            <span class="item-percent-bubble">-10%</span>        </a>
                        <div class="item-meta-outer">
                            <h3 class="item-title">Giá Nào Cũng Yêu</h3>
                            <em class="item-author">Lisa Kleypas</em>
                            <p class="item-price">
                                <strong class="strong">82500</strong><strong><u>đ</u></strong><small>92000 <u>đ</u></small></p>

                        </div>
                    </li>
                    <li class="item-outer">
                        <a class="item-thumb" href="" rel="nofollow">
                            <img width="200" height="280" src="img/book/chientranhgiuacacthegioi-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image" alt="chientranhgiuacacthegioi">            <span class="item-percent-bubble">-10%</span>        </a>
                        <div class="item-meta-outer">
                            <h3 class="item-title">Chiến Tranh Giữa Các Thế Giới</h3>
                            <em class="item-author">H. G. Wells</em>
                            <p class="item-price">
                                <strong class="strong">55500</strong><strong><u>đ</u></strong><small>62000 <u>đ</u></small></p>

                        </div>
                    </li>
                    <li class="item-outer">
                        <a class="item-thumb" href="" rel="nofollow">
                            <img width="200" height="280" src="img/book/hoatuylipden-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image" alt="hoatuylipden">            <span class="item-percent-bubble">-10%</span>        </a>
                        <div class="item-meta-outer">
                            <h3 class="item-title">Hoa Tuylip Đen</h3>
                            <em class="item-author">Alexander Dumas</em>
                            <p class="item-price">
                                <strong class="strong">49500</strong><strong><u>đ</u></strong><small>55000 <u>đ</u></small></p>

                        </div>
                    </li>
                    <li class="item-outer">
                        <a class="item-thumb" href="" rel="nofollow">
                            <img width="200" height="280" src="img/book/cuongphong-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image" alt="cuongphong">            <span class="item-percent-bubble">-10%</span>        </a>
                        <div class="item-meta-outer">
                            <h3 class="item-title">Cuồng Phong (Tái Bản 2015)</h3>
                            <em class="item-author">Nguyễn Phan Hách</em>
                            <p class="item-price">
                                <strong class="strong">115000</strong><strong><u>đ</u></strong><small>128000 <u>đ</u></small></p>

                        </div>
                    </li>
                    <li class="item-outer">
                        <a class="item-thumb" href="" rel="nofollow">
                            <img width="200" height="280" src="img/book/ngayayviaimadoithay-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image" alt="ngayayviaimadoithay">            <span class="item-percent-bubble">-10%</span>        </a>
                        <div class="item-meta-outer">
                            <h3 class="item-title">Ngày Ây Vì Ai Mà Đổi Thay</h3>
                            <em class="item-author">Cẩm Thương</em>
                            <p class="item-price">
                                <strong class="strong">68000</strong><strong><u>đ</u></strong><small>76000 <u>đ</u></small></p>

                        </div>
                    </li>
                    <li class="item-outer">
                        <a class="item-thumb" href="" rel="nofollow">
                            <img width="200" height="280" src="img/book/lacnhaugiuanganha-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image" alt="lacnhaugiuanganha">            <span class="item-percent-bubble">-10%</span>        </a>
                        <div class="item-meta-outer">
                            <h3 class="item-title">Lạc Nhau Giữa Ngân Hà</h3>
                            <em class="item-author">Nhóm bút Lovedia</em>
                            <p class="item-price">
                                <strong>71000 <u>đ</u></strong><small>79.000 <u>đ</u></small>            </p>
                            <strong class="strong">63000</strong><strong><u>đ</u></strong><small>70000 <u>đ</u></small></p>

                        </div>
                    </li>
                    <li class="item-outer">
                        <a class="item-thumb" href="" rel="nofollow">
                            <img width="200" height="280" src="img/book/chungtaodocontinhyeuthikhong-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image" alt="chungtaodocontinhyeuthikhong">            <span class="item-percent-bubble">-10%</span>        </a>
                        <div class="item-meta-outer">
                            <h3 class="item-title">Chúng Ta Ở Đó, Còn Tình Yêu Thì Không</h3>
                            <em class="item-author">Hạc Xanh</em>
                            <p class="item-price">
                                <strong class="strong">54000</strong><strong><u>đ</u></strong><small>60000 <u>đ</u></small></p>

                        </div>
                    </li>
                    <li class="item-outer">
                        <a class="item-thumb" href="" rel="nofollow">
                            <img width="200" height="280" src="img/book/dunghonohoian-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image" alt="dunghonohoian">            <span class="item-percent-bubble">-10%</span>        </a>
                        <div class="item-meta-outer">
                            <h3 class="item-title">Đừng Hôn Ở Hội An</h3>
                            <em class="item-author">Đinh Lê Vũ</em>
                            <p class="item-price">
                                <strong class="strong">67500</strong><strong><u>đ</u></strong><small>75000 <u>đ</u></small></p>

                        </div>
                    </li>
                    <li class="item-outer">
                        <a class="item-thumb" href="" rel="nofollow">
                            <img width="200" height="280" src="img/book/danba30-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image" alt="danba30">            <span class="item-percent-bubble">-10%</span>        </a>
                        <div class="item-meta-outer">
                            <h3 class="item-title">Đàn Bà 30 (Tái Bản 2015)</h3>
                            <em class="item-author">Trang Hạ</em>
                            <p class="item-price">
                                <strong class="strong">71000</strong><strong><u>đ</u></strong><small>79000 <u>đ</u></small></p>

                        </div>
                    </li>
                    <li class="item-outer">
                        <a class="item-thumb" href="" rel="nofollow">
                            <img width="200" height="280" src="img/book/tinh-nhan-khong-bao-gio-cuoi-200x280.jpg" class="attachment-thumbnail-rectangle wp-post-image" alt="tinh-nhan-khong-bao-gio-cuoi">            <span class="item-percent-bubble">-9%</span>        </a>
                        <div class="item-meta-outer">
                            <h3 class="item-title">Tình Nhân Không Bao Giờ Đòi Cưới</h3>
                            <em class="item-author">Trang Hạ</em>
                            <p class="item-price">
                                <strong class="strong">59500</strong><strong><u>đ</u></strong><small>66000 <u>đ</u></small></p>

                        </div>
                    </li>
                    <li class="item-outer">
                        <a class="item-thumb" href="" rel="nofollow">
                            <img width="200" height="280" src="img/book/chipheovafacebook-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image" alt="chipheovafacebook">            <span class="item-percent-bubble">-10%</span>        </a>
                        <div class="item-meta-outer">
                            <h3 class="item-title">Chí Phèo Và Facebook</h3>
                            <em class="item-author">Võ Tòng Đánh Mèo</em>
                            <p class="item-price">
                                <strong class="strong">64500</strong><strong><u>đ</u></strong><small>72000 <u>đ</u></small></p>

                        </div>
                    </li>
                    <li class="item-outer">
                        <a class="item-thumb" href="" rel="nofollow">
                            <img width="200" height="280" src="img/book/macnhien-200x280.gif" class="attachment-thumbnail-rectangle wp-post-image" alt="macnhien">            <span class="item-percent-bubble">-10%</span>        </a>
                        <div class="item-meta-outer">
                            <h3 class="item-title">Mặc Nhiên</h3>
                            <em class="item-author">Elvis Nguyễn</em>
                            <p class="item-price">
                                <strong class="strong">52000</strong><strong><u>đ</u></strong><small>58000 <u>đ</u></small></p>

                        </div>
                    </li>
                    <li class="item-outer">
                        <a class="item-thumb" href="" rel="nofollow">
                            <img width="200" height="280" src="img/book/dat-toi-ve-phia-mat-troi-200x280.jpg" class="attachment-thumbnail-rectangle wp-post-image" alt="dat-toi-ve-phia-mat-troi">            <span class="item-percent-bubble">-10%</span>        </a>
                        <div class="item-meta-outer">
                            <h3 class="item-title">Dắt Tôi Về Phía Mặt Trời</h3>
                            <em class="item-author">Ploy - Mèo Mốc</em>
                            <p class="item-price">
                                <strong class="strong">58500</strong><strong><u>đ</u></strong><small>65000 <u>đ</u></small></p>

                        </div>
                    </li>
                    <li class="item-outer">
                        <a class="item-thumb" href="" rel="nofollow">
                            <img width="200" height="280" src="img/book/ivanhoe-200x280.jpg" class="attachment-thumbnail-rectangle wp-post-image" alt="ivanhoe">            <span class="item-percent-bubble">-20%</span>        </a>
                        <div class="item-meta-outer">
                            <h3 class="item-title">Ivanhoe</h3>
                            <em class="item-author">Walter Scott</em>
                            <p class="item-price">
                                <strong class="strong">96000</strong><strong><u>đ</u></strong><small>120000 <u>đ</u></small></p>

                        </div>
                    </li>
                </ul>
            </div>
            <div class="block-bar clearfix mt30">
                <div class="block-view-styles no-style float-left">
                    <a href="jvascript:void(0);" onclick="aj_set_session(&#39;view-style&#39;, &#39;block&#39;,&#39;&#39;); return false;" class="style-button-block current"><i class="fa fa-th-large"></i></a>
                    <a href="jvascript:void(0);" onclick="aj_set_session(&#39;view-style&#39;, &#39;list&#39;,&#39;&#39;); return false;" class="style-button-list "><i class="fa fa-list"></i></a>
                </div>
                <div class="block-filters float-right">
                    <span class="block-orderby-label ml5">Sắp xếp theo</span>

                    <select class="block-orderby-select" onchange="aj_set_location(this.value)">
                        <option selected="" value="">Hàng mới nhập</option>
                        <option value="">Tên: Z đến A</option>
                        <option value="">Tên: A đến Z</option>
                        <option value="">Sản phẩm nổi bật</option>
                        <option value="">Giá: Cao đến Thấp</option>
                        <option value="">Giá: Thấp đến Cao</option>
                        <!--<option  value="http://cachep.vn/danh-muc/sach-quoc-van/van-hoc/?order=publish_date&dir=desc">Ngày xuất bản</option>-->
                    </select>

                    <select class="block-page-item-select" onchange="aj_set_session(&#39;post-per-page&#39;, this.value, &#39;http://cachep.vn/danh-muc/sach-quoc-van/van-hoc/&#39;); return false;">
                        <option value="5">5</option>
                        <option value="25" selected="">25</option>
                        <option value="35">35</option>
                        <option value="45">45</option>
                    </select>

                    <span class="block-page-item-label ml5">Sản phẩm/trang</span>
                </div>
            </div>
            <div class="clearfix mt20">
                <div class="pager-outer float-right">
                    <span class="page-numbers current">1</span>
                    <a class="page-numbers" href="">2</a>
                    <a class="page-numbers" href="">3</a>
                    <span class="page-numbers dots">…</span>
                    <a class="page-numbers" href="">13</a>		</div>
            </div>
        </div>


        </div>
    </div>
</div>